.user-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.user-card {
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.user-card:hover {
  background-color: #e6f0ff;
  transform: scale(1.01);
}
